services:
  - type: web
    name: attendance-backend
    env: node
    buildCommand: npm install --production
    startCommand: node server.js
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
